In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("Sales Data Analysis").getOrCreate()

# File location and type
file_location = "/Users/inbravo/Documents/GitHub/python-feature-set/dataset/super-market/sales.csv"

# Read the CSV data from the file
df = spark.read.format("csv") \
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ",") \
  .load(file_location)

# Show the first 5 rows of the DataFrame
df.show(5)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/31 01:12:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/31 01:12:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice_ID|Branch|     City|Customer_Type|Gender|        Product_Line|Unit_Price|Quantity| Tax_5%|   Total|     Date|               Time|    Payment|  cogs|gross Margin_Percentage|Gross_Income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|2025-05-31 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|2025-05-31 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|2025-05-31 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|2025-05-31 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|2025-05-31 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

In [2]:
from pyspark.sql.functions import round
from pyspark.sql.functions import sum as _sum
from pyspark.sql.types import IntegerType
   
# Typecast the 'Gross income' values to Integer type    
df = df.withColumn("Gross_Income", df["Gross_Income"].cast(IntegerType()))

# Round gross income to 2 decimal places
df = df.withColumn("Gross_Income", round(df["Gross_Income"], 2))

# Group by the "Product line"
df = df.groupBy("Product_Line")

# Sum of the gross income
gross_income_sum = _sum("Gross_Income")

# Sum the gross income
df_round = df.agg(gross_income_sum).alias("Gross_Income")

# Show the first 5 rows of the DataFrame
df_round.show(5)

+--------------------+-----------------+
|        Product_Line|sum(Gross_Income)|
+--------------------+-----------------+
|  Home and lifestyle|             2484|
| Fashion accessories|             2491|
|   Health and beauty|             2263|
|Electronic access...|             2500|
|  Food and beverages|             2584|
+--------------------+-----------------+
only showing top 5 rows